/* CSS style for any desktop OS */
/* Set your Qt CSS style in this file */

QToolBar, QToolButton, QPushButton
{ 
    padding: 0px;
    icon-size: 16px; /* maximum icon size */ 

    border: 1px solid transparent;
    background: transparent;
    margin: 0px 0px 0px 0px;
    background-color: transparent;
}

.pane{
    border: 0px;
    background: transparent;
    margin: 0px 0px 0px 0px;
    background-color: transparent;
}

QMenu{
    border: 0px;
/*    background: transparent;*/
    margin: 0px 0px 0px 0px;
/*    background-color: transparent;*/
}

QToolButton {
    padding: 0px;
}

QScrollBar:vertical {
    border: 1px solid #aaaaaa;
    background: transparent;   /* background: #eeeeee;// white;*/
    width:10px;       /* width: 10px;*/
    margin: 0px 0px 0px 0px;  /* margin: 21px 0 21px 0;*/
    border-color: rgb(227, 227, 227);
    /*border-width: 1px;*/
    border-style: solid;
    background-color: transparent;  /*    background-color: rgb(240, 240, 240);*/
}

QScrollBar::handle:vertical {
    background: qlineargradient(x1:0, y1:0, x2:1, y2:0,
    stop: 0  #666666, stop: 0.5 #666666,  stop:1 #666666);                                         /*     stop: 0  rgb(32, 47, 130), stop: 0.5 rgb(32, 47, 130),  stop:1 rgb(32, 47, 130));*/
    min-height: 10px; /* min-height: 25px;*/
    background-color: #AEA89A;  /* rgb(180, 180, 180) 200,200,200*/
    border: 1px #948B77 solid;
}

QScrollBar::add-line:vertical {
    background: qlineargradient(x1:0, y1:0, x2:1, y2:0,
    stop: 0  #999999, stop: 0.5 #999999,  stop:1 #999999);                                         /*     stop: 0  rgb(32, 47, 130), stop: 0.5 rgb(32, 47, 130),  stop:1 rgb(32, 47, 130));*/
    height: 10px; /* height: 20px;*/
    subcontrol-position: bottom;  /* subcontrol-position: bottom;*/
    subcontrol-origin: margin;    /* subcontrol-origin: margin;*/
    border: 1px solid grey;
    background-color: rgb(241, 241, 241);
}

QScrollBar::sub-line:vertical {
    background: qlineargradient(x1:0, y1:0, x2:1, y2:0,
    stop: 0  #999999, stop: 0.5 #999999,  stop:1 #999999);                                         /*     stop: 0  rgb(32, 47, 130), stop: 0.5 rgb(32, 47, 130),  stop:1 rgb(32, 47, 130));*/
    height: 10px;  /* height: 20px;*/
    subcontrol-position: top;  /* subcontrol-position: top;*/
    subcontrol-origin: margin; /* subcontrol-origin: margin;*/
    border: 1px solid grey;
    background-color: rgb(241, 241, 241);
}

QScrollBar::add-page: vertical, QScrollBar::sub-page: vertical {
    background: none;
}

QScrollBar::up-arrow: vertical {
    image: url(:/resource/pic/mobile_up.svg);/* :/BarIcon/Icons/uparrow.png */
}

QScrollBar::down-arrow: vertical {
    image: url(:/resource/pic/mobile_down.svg);/* :/BarIcon/Icons/downarrow.png */
}

QScrollBar::handle: hover {
    background-color: rgb(100, 100, 100);
    width:10px;
}

QScrollBar:horizontal {
    border: 1px solid #aaaaaa;
    background: transparent;   /*    background: #eeeeee;*/
    height:10px;       /*    height: 10px; */
    margin: 0px 0px 0px 0px;   /*    margin: 0px 21px 0 21px; */
    border-color: rgb(227, 227, 227);
    /*border-height: 1px;*/
    border-style: solid;
    background-color: transparent;  /*    background-color: rgb(240, 240, 240); */
}

QScrollBar::handle:horizontal {
    background: qlineargradient(x1:0, y1:0, x2:0, y2:1,
    stop: 0  #666666, stop: 0.5 #666666,  stop:1 #666666);                                         /*     stop: 0  rgb(32, 47, 130), stop: 0.5 rgb(32, 47, 130),  stop:1 rgb(32, 47, 130));*/
    min-width: 10px;   /*    min-width: 25px; */
    background-color: #AEA89A; /* rgb(180, 180, 180) 200,200,200*/
    border: 1px #948B77 solid;
}

QScrollBar::add-line:horizontal {
    background: qlineargradient(x1:0, y1:0, x2:0, y2:1,
    stop: 0  #999999, stop: 0.5 #999999,  stop:1 #999999);                                         /*     stop: 0  rgb(32, 47, 130), stop: 0.5 rgb(32, 47, 130),  stop:1 rgb(32, 47, 130));*/
    width: 10px;   /*    width: 20px;*/
    subcontrol-position: right;    /*    subcontrol-position: right; */
    subcontrol-origin: margin;     /*    subcontrol-origin: margin; */
    border: 1px solid grey;
    background-color: rgb(241, 241, 241);
}

QScrollBar::sub-line:horizontal {
    background: qlineargradient(x1:0, y1:0, x2:0, y2:1,
    stop: 0  #999999, stop: 0.5 #999999,  stop:1 #999999);                                         /*     stop: 0  rgb(32, 47, 130), stop: 0.5 rgb(32, 47, 130),  stop:1 rgb(32, 47, 130));*/
    width: 10px;   /*    width: 20px;*/
    subcontrol-position: left; /*    subcontrol-position: left; */
    subcontrol-origin: margin; /*    subcontrol-origin: margin; */
    border: 1px solid grey;
    background-color: rgb(241, 241, 241);
}

QScrollBar::left-arrow: horizontal
{
    image: url(:/resource/pic/mobile_back.svg);  /* :/BarIcon/Icons/leftarrow.png */
}

QScrollBar::right-arrow: horizontal
{
    image: url(:/resource/pic/mobile_forward.svg); /* :/BarIcon/Icons/rightarrow.png */
}

QScrollBar::add-page: horizontal, QScrollBar::sub-page: horizontal {
    background: none;
}

QScrollBar::handle: hover {
    background-color: rgb(100, 100, 100);
    height:10px;
}


browser--QTabWidget::pane {
    border: 0 px;
}

browser--QTabBar::tab {
    /*left 3 px;*/
    /*alignment: bottom;*/
    height: 10 px;
    width: 16 px;
    max-width: 16 px;
    /* qproperty-alignment: AlignBottom;  AlignCenter | AlignVCenter;*/
    qproperty-wordWrap: false;
    padding-bottom: 0 px;
    padding: 0 px;
    margin-left: 2 px;
    margin-right: 0 px;
}    /*   margin: 0 px;*/

browser--QTabWidget::tab-bar {
    /*alignment: bottom;*/
    height: 10 px;
    width: 16 px;
    max-width: 16 px;
    text-align: left;
    /*qproperty-alignment: AlignBottom;*/
    qproperty-wordWrap: false;
    padding-bottom: 0 px;
    margin-left: 2 px;
    padding: 0 px;
    margin-right: 0 px;
}   /* margin: 0 px;*/

/*
QTabBar::tab {
    max-width: 200px;
    padding: 0 px;
    margin-left: 2 px;
    margin-right: 0 px;
}
QTabWidget::tab-bar {
    max-width: 200px;
    align: left;
    text-align: left;
    margin-left: 2 px;
    padding: 0 px;
    margin-right: 0 px;
}
*/
