[Desktop Entry]
Name=MyTetra WebEngine
Comment=Smart manager for information collecting
Comment[ru]=Менеджер накопления осмысленной информации
Exec=mytetra_webengine
Icon=mytetra
Terminal=false
Type=Application
StartupNotify=true
Categories=Qt;Utility;
