[Desktop Entry]
Name=Tute
Comment=Smart manager for information collecting
Comment[ru]=Менеджер накопления осмысленной информации
Exec=/opt/ru.webhamster.tute/bin/tute
Icon=tute
Terminal=false
Type=Application
StartupNotify=true
Categories=Qt;Utility;
